/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;600&family=Lobster&display=swap');

/* Component imports */
@import "../components/building.css";

/* Variables */
:root {
    --color-black: #000501;
    --color-shamrock: #73AB84;
    --color-lightgreen: #99D19C;
    --color-lavender: #D8D4F2;
    --color-shadows: #C4B2BC;
}

/* Base CSS styling */
html {
    height: 100vh;
}
body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    height: 100%;
    margin: 0;
}
main#game {
    display: flex;
    align-items: stretch;
    height: 100%;
}

/* Main container */
#main {
    display: flex;
    flex-direction: column;
    background-color: var(--color-lavender);
    width: 75%;
}

/* Top Banner with Logo */
#top-banner {
    background-color: var(--color-black);
    color: #fff;
}
#logo {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: var(--color-lavender);
}

/* List of buildings */
#buildings {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

/* Sidebar with player profile information and settings */
aside#player {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #999;
    padding: 25px;
    border-left: 2px solid #666;
}

/* Buttons */
button {
    background-color: #666;
    padding: .5em 1.25em;
    color: #fff;
    border: 0;
}
button.purchase {
    background-color: darkcyan;
}
button.upgrade {
    background-color: darkseagreen;
}