/* Component imports */
@import "../components/building.css";

/* Base CSS styling */
html {
    height: 100vh;
}
body {
    height: 100%;
    margin: 0;
}
main#game {
    display: flex;
    align-items: stretch;
    height: 100%;
}

/* List of buildings */
#buildings {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 25px;
}

/* Sidebar with player profile information and settings */
aside#player {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #999;
    padding: 25px;
    border-left: 2px solid #666;
}